.Background
{
  margin: 0;
  padding: 0;
  background-image: url("CarRent.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; 
}
