<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-color: #DBEAF2;">
    
    
    <h1>register page</h1>
    <div class="form">
        <form action="" method="POST">
            {% csrf_token %}
            <label for="fname">First Name:</label>
            <input type="text" placeholder="Enter your First name" name="fname"><br>

            <label for="sname">Last Name:</label>
            <input type="text" placeholder="Enter your Last name" name="sname"><br>

            <label for="uname">Username:</label>
            <input type="text" placeholder="Create a username" name="uname"><br>

            <label for="email">Email:</label>
            <input type="email" placeholder="Create an email" name="email"><br>

            <label for="pass">Password:</label>
            <input type="password" placeholder="Enter password" name="pass"><br>

            <button type="submit">Submit</button>
            <p>Retourner à la page précédente<a style="color: aliceblue;" href="{% url 'home-page' %}">Home</a></p>
        </form>
    </div>
</body>
</html>
